version: '3.1'  # if no version is specified then v1 is assumed. Recommend v2 minimum

services:
  drupalcontainer: # a friendly name. this is also DNS name inside network
    image: drupal  # Optional if you use build:
    ports: 
        - 8080:80
    volumes:
      - drupal-modules:/var/www/html/modules
      - drupal-profiles:/var/www/html/profiles       
      - drupal-sites:/var/www/html/sites      
      - drupal-themes:/var/www/html/themes
    
  mysqldatabase:
    image: postgres
    ports: 
        - 8080:8080
    environment:
        - POSTGRES_PASSWORD: mypassword

volumes:
  drupal-modules:
  drupal-profiles:
  drupal-sites:
  drupal-themes: